@model List<Author>
@{
    ViewData["Title"] = "Index";
    int order = 0;
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <h1>Authors</h1>
        <a class="btn btn-primary" asp-action="create">Create</a>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">FullName</th>
                    <th scope="col">BookCount</th>
                    <th scope="col">AuthorImage</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    order++;
                    <tr>
                        <th scope="row">@order</th>
                        <td>@item.FullName</td>
                        <td>@item.Books.Count</td>
                        <td><img src="~/uploads/author/@item.AuthorImage?"/></td>
                        <td>
                            <a class="btn btn-warning" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-danger" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

